@font-face {
  font-family: 'exthing';
  src: url(fonts/Exthing-1Gox2.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'helvetica';
  src: url(fonts/Helvetica.ttf);
  font-style: normal;
  font-weight: normal;
}

h1 {
  position: relative;
  width: 306px;
  height: 100px;
  font-family: Exthing;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 210px;
  letter-spacing: 0.01em;
  color: #F5F7FA;
}

h2 {
  position: relative;
  width: 762px;
  height: 50px;
  font-family: helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 2px;
  letter-spacing: 0.01em;
  color: #CBD2D9;
}

p {
  color: #CBD2D9;
  font-family: helvetica;
}
.App {
  background-color: #323F4B;
  width: 1690px;
  height: 2220px;
  display: absolute;
  color: white;
}

.Navbar {
  float: left;
  width: 6vh;
  height: 100vh;
  background-color: #1F2933;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 1);
}

.Box {
  left: 90px;
  top: 10px;
  width: 1590px;
  height: 2200px;
  position: absolute;
  background: #1F2933;
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}

.Vis1 {
  float: left;
  width: 778px;
  height: 778px;
  background-color: #323F4B;
}

.Vis2 {
  float: right;
  width: 778px;
  height: 778px;
  background-color: #323F4B;
}

.Footer {
  text-align: center;
  margin-top: 400px;
}

.VisWindow {
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 778px;
  min-height: fit-content;
  background-color: #1F2933;
}

.tooltip {
  position: absolute;
  background-color: lightgrey;
  padding: 10px;
}

.chartContainer {
  border: 1px solid black;
}

